<body>
<section>
  
  <nav>
    <a class="u" href="home">home</a>
    <a class="u" href="servicess">services</a>
    <a class="u" href="pro">Provedores</a>
    <a class="u" href="agenda">Agendas</a>
    <a class="u" href="tra">trabajadores</a>
    <a class="u" href="buscar">tareas</a>
</nav>

<!--<div class="bubble bubble-one glassmorphism-effect"></div>-->

<!--<div class="bubble bubble-two glassmorphism-effect"></div>-->
<!--<div class="bubble bubble-three glassmorphism-effect"></div>-->

<!-- <div class="bubble bubble-four glassmorphism-effect"></div> -->

<div class="container glassmorphism-effect padding-box">
  <section class="glassmorphism-effect padding-box">

    <div class="title">
      <p>Objetivos</p>
      <p>Trabajo pendientes</p>
    </div>
    <div class="goals">
      <div class="glassmorphism-effect">
        <img src="https://th.bing.com/th/id/OIP.uVOhcBRIBr6ttbZgPVMWlgHaHa?rs=1&pid=ImgDetMain" alt="libro"/>
      </div>
      <p>Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="goals">
      <div class="glassmorphism-effect">
        <img src="https://th.bing.com/th/id/OIP.uVOhcBRIBr6ttbZgPVMWlgHaHa?rs=1&pid=ImgDetMain" alt="pesa"/>
      </div>
      <p>Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="goals">
      <div class="glassmorphism-effect">
        <img src="https://th.bing.com/th/id/OIP.uVOhcBRIBr6ttbZgPVMWlgHaHa?rs=1&pid=ImgDetMain" alt="manejo del tiempo"/>
      </div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, consectetur!</p>
    </div>
    <div class="goals">
      <div class="glassmorphism-effect">
        <img src="https://th.bing.com/th/id/OIP.uVOhcBRIBr6ttbZgPVMWlgHaHa?rs=1&pid=ImgDetMain" alt="comida sana"/>
      </div>
      <p>Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="goals">
      <div class="glassmorphism-effect">
        <img src="https://th.bing.com/th/id/OIP.uVOhcBRIBr6ttbZgPVMWlgHaHa?rs=1&pid=ImgDetMain" alt="reloj"/>
      </div>
      <p>Lorem ipsum dolor sit amet.</p>
    </div>
  </section>
  <section class="main-content glassmorphism-effect padding-box">
    <div class="title">
      <p>Planeador semanal</p>
      <p>Semana del cogelona</p>
    </div>
    <div>
      <div>
        <p>Lunes</p>
        <div class="card">
          <div class="glassmorphism-effect">
            <p>Lorem.</p>
          </div>


          <div class="glassmorphism-effect">
            <p>7:00am</p>
            <p>Lorem.</p>
          </div>
        </div>
      </div>
      <div>
        <p>Martes</p>
        <div class="card margin-bottom-card">
          <div class="glassmorphism-effect">
            <p>Lorem.</p>
          </div>
          <div class="glassmorphism-effect">
            <p>7:00am</p>
            <p>Lorem.</p>
          </div>
        </div>
        <div class="card">
          <div class="glassmorphism-effect">
            <p>Lorem.</p>
          </div>
          <div class="glassmorphism-effect">
            <p>8:00am</p>
            <p>Lorem.</p>
          </div>
        </div>
      </div>
      <div>
        <p>Miércoles</p>
        <div class="card margin-bottom-card">
          <div class="glassmorphism-effect">
            <p>Lorem.</p>
          </div>
          <div class="glassmorphism-effect">
            <p>7:00am</p>
            <p>Lorem.</p>
          </div>
        </div>
        <div class="card">
          <div class="glassmorphism-effect">
            <p>Lorem.</p>
          </div>
          <div class="glassmorphism-effect">
            <p>8:00am</p>
            <p>Lorem.</p>
          </div>
        </div>
      </div>
      <div>
        <p>Jueves</p>
        <div class="card margin-bottom-card">
          <div class="glassmorphism-effect">
            <p>Lorem..ga</p>
          </div>
          <div class="glassmorphism-effect">
            <p>7:00am</p>
            <p>Lorem.</p>
          </div>
        </div>
        <div class="card margin-bottom-card">
          <div class="glassmorphism-effect">
            <p>Lorem.</p>
          </div>
          <div class="glassmorphism-effect">
            <p>8:00am</p>
            <p>Lorem.</p>
          </div>
        </div>
        <div class="card">
          <div class="glassmorphism-effect">
            <p>Lorem.</p>
          </div>
          <div class="glassmorphism-effect">
            <p>9:00pm</p>
            <p>Lorem.</p>
          </div>
        </div>
      </div>
      <div>
        <p>Viernes</p>
        <div class="card">
          <div class="glassmorphism-effect">
            <p>Lorem.</p>
          </div>
          <div class="glassmorphism-effect">
            <p>7:00am</p>
            <p>Lorem.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

</section>
</body>
