<!DOCTYPE html>
<html lang="en">
<body>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="homepage.component.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <!-- ********************************************************************* -->
  <!-- ******************************* Menu ******************************** -->
  <nav>
    <a href="home">Inicio</a>
    <a href="inventario">Inventario</a>
    <a href="pro">Proveedores</a>
    <a href="tra">Trabajadores</a>
    <a href="buscar">Nosotros</a>
    <div class="animation start-home"></div>
  </nav>
  <!-- ********************************************************************* -->

  <!-- ********************************************************************* -->
  <!-- ************************* Citas Pendientes ************************** -->
  <div class="container">
    <h2>Citas Pendientes</h2>
    <!-- ************************************** -->
    <!-- ************ Opcion Estado *********** -->
    <form class="navbar-form navbar-left" role="search">
      <select class="form-control1">
        <option>Estado</option>
        <option>Cancelado</option>
        <option>En espera</option>
        <option>Realizada</option>
      </select>
    </form>
    <!-- ************************************** -->
    <table class="table">
      <!-- ************************************** -->
      <!-- ************** Opciones ************** -->
      <thead>
        <tr>
          <th>ID</th>
          <th>FECHA</th>
          <th>HORA</th>
          <th>ESTADO</th>
          <th>USUARIO</th>
          <th>PLACAS</th>
        </tr>
      </thead>
      <!-- ************************************** -->
      <tbody>
        <!-- ************************************** -->
        <!-- ******** Opciones respuesta 1 ******** -->
        <tr>
          <td>1</td>
          <td>19/03/2024</td>
          <td>3:00 PM</td>
          <td><select class="form-control">
              <option>Realizada</option>
              <!-- <option>En espera</option>
              <option>Cancelada</option> -->
            </select></td>
          <td>Anthony Misael</td>
          <td>YZ-3054-R</td>
        </tr>
        <!-- ************************************** -->

        <!-- ************************************** -->
        <!-- ******** Opciones respuesta 2 ******** -->
        <tr>
          <td>2</td>
          <td>20/03/2024</td>
          <td>5:00 PM</td>
          <td><select class="form-control">
              <!-- <option>Realizada</option> -->
              <option>En espera</option>
              <!-- <option>Cancelada</option> -->
            </select></td>
          <td>Balam Cetina</td>
          <td>JK-6452-L</td>
        </tr>
        <!-- ************************************** -->

        <!-- ************************************** -->
        <!-- ******** Opciones respuesta 3 ******** -->
        <tr>
          <td>3</td>
          <td>21/03/2024</td>
          <td>1:00 PM</td>
          <td><select class="form-control">
              <!-- <option>Realizada</option>
              <option>En espera</option> -->
              <option>Cancelada</option>
            </select></td>
          <td>Mauricio Roca</td>
          <td>RT-7854-R</td>
        </tr>
        <!-- ************************************** -->
      </tbody>
    </table>
  </div>
  <!-- ********************************************************************* -->
</body>
</html>