<!-- contact.component.html -->
<section id="contact">
  <h3>CONTACTO</h3>
  <form (ngSubmit)="submitForm()" #contactForm="ngForm">
      <label for="name">Nombre:</label><br>
      <input type="text" id="name" name="name" ngModel required><br>
      <label for="phone">Teléfono:</label><br>
      <input type="tel" id="phone" name="phone" ngModel required><br>
      <label for="email">Correo electrónico:</label><br>
      <input type="email" id="email" name="email" ngModel required><br>
      <label for="message">Mensaje:</label><br>
      <textarea id="message" name="message" ngModel required></textarea><br>
      <input type="submit" value="ENVIAR UN MENSAJE" [disabled]="!contactForm.valid">
  </form>
</section>
