
<link class="lii" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet">


<body>
  <header>
    <nav>
      <a class="u" href="home">home</a>
      <a class="u" href="servicess">services</a>
      <a class="u" href="pro">Provedores</a>
      <a class="u" href="agenda">Agendas</a>
      <a class="u" href="tra">trabajadores</a>
      <a class="u" href="buscar">tareas</a>
  </nav>

    <section class="textos-header">
      <h1>Potencia tus ventas al menos un 200%</h1>
      <h2> con una pagina web potente</h2>
    </section>
    <div class="weva" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.88 C150.00,149.67 349.21,-49.88 500.01,49.88 L500.01,149.67 L0.00,149.67 Z" style="stroke: none; fill: rgb(246, 242, 242);"></path></svg></div>
  </header>

  <main>
    <section class="contenedor sobre-nosotros">
      <h2 class="titulo">Nuestro producto</h2>
      <div class="contenedor-sobre-nosotros"></div>
      <img src="{{ si }}" alt="" class="imagen-about-us">
      <div class="contenido-textos">
        <h3><span>1</span>Los mejores productos</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id at itaque dolorum, possimus eos, eaque maxime iusto quibusdam suscipit quasi iste? Nesciunt mollitia porro odio eveniet suscipit sunt culpa vitae!</p>
      </div>

      <div class="contenido-textos">
        <h3><span>2</span>Los mejores productos</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id at itaque dolorum, possimus eos, eaque maxime iusto quibusdam suscipit quasi iste? Nesciunt mollitia porro odio eveniet suscipit sunt culpa vitae!</p>
      </div>
    </section>
    <section class="portafolio">
      <div class="contenedor">
        <h2 class="titulo">Portafolio</h2>
        <div class="galeria-port">
          <div class="imagen-port">
            <img src="{{ chupo }}" alt="">
            <div class="hover-galeria">
              <img src="{{ chupas }}" alt="">
              <p>Nuestro trabajo</p>
            </div>
          </div>

          <div class="imagen-port">
            <img src="{{ a }}" alt="">
            <div class="hover-galeria">
              <img src="{{ chupas }}" alt="">
              <p>Nuestro trabajo</p>
            </div>
          </div>

          <div class="imagen-port">
            <img src="{{ s }}" alt="">
            <div class="hover-galeria">
              <img src="{{ chupas }}" alt="">
              <p>Nuestro trabajo</p>
            </div>
          </div>

          <div class="imagen-port">
            <img src="{{ d }}" alt="">
            <div class="hover-galeria">
              <img src="{{ chupas }}" alt="">
              <p>Nuestro trabajo</p>
            </div>
          </div>

          <div class="imagen-port">
            <img src="{{ f }}" alt="">
            <div class="hover-galeria">
              <img src="{{ chupas }}" alt="">
              <p>Nuestro trabajo</p>
            </div>
          </div>

          <div class="imagen-port">
            <img src="{{ g }}" alt="">
            <div class="hover-galeria">
              <img src="{{ chupas }}" alt="">
              <p>Nuestro trabajo</p>
            </div>
          </div>

          <div class="imagen-port">
            <img src="{{ h }}" alt="">
            <div class="hover-galeria">
              <img src="{{ chupas }}" alt="">
              <p>Nuestro trabajo</p>
            </div>
          </div>

          <div class="imagen-port">
            <img src="{{ j }}" alt="">
            <div class="hover-galeria">
              <img src="{{ chupas }}" alt="">
              <p>Nuestro trabajo</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="clientes contenedor">
      <h2 class="titulo">Que dicen nuestros clientes</h2>
      <div class="cards">
        <div class="card">
          <img src="{{putoMau}}" alt="">
          <div class="contenido-texto-card">
            <h4>Name</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi, reiciendis.</p>
          </div>
        </div>

        <div class="card">
          <img src="{{putoAnty}}" alt="">
          <div class="contenido-texto-card">
            <h4>Name</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi, reiciendis.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="about-services">
      <div class="contenedor">
        <h2 class="titulo">Nuestros servicios</h2>
        <div class="servicio-cont">
          <div class="servicio-ind">
            <img src="{{putoAlfo}}" alt="">
            <h3>Name</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, impedit?</p>
          </div>

          <div class="servicio-ind">
            <img src="{{q}}" alt="">
            <h3>Name</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, impedit?</p>
          </div>

          <div class="servicio-ind">
            <img src="{{w}}" alt="">
            <h3>Name</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, impedit?</p>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="contenedor-footer">
        <div class="contenet-foo">
          <h4>Phone</h4>
          <p>9988776655</p>
        </div>

        <div class="contenet-foo">
          <h4>Email</h4>
          <p>9988776655</p>
        </div>

        <div class="contenet-foo">
          <h4>Location</h4>
          <p>9988776655</p>
        </div>
      </div>
      <h2 class="titulo-final">&copy; AlexCG Design | Mauricio Anthony</h2>
    </footer>
  </main>
</body>

