    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
        <!-- <script src="https://code.jquery.com/jquery-3.4.1.js"></script> -->
    </head>
    <body>
        <main class="table" id="customers_table">
            <section class="table__header">
                <h1 style="color: #fff">Citas's Orders</h1>
                <div class="input-group">
                   <input type="search" style="color: #fff;" placeholder="Buscar..." (input)="actualizarCadenaDeBusqueda($event)">
                   <img src="assets/images/search.png" alt="">
                 </div>
                 <div class="agregar">
                    <label (click)="mostrarVentana()" for="export-file" class="export__file-btn" title="Export File" >Agregar</label>
                    <input type="checkbox" id="export-file">
                </div>
                
                <div class="ventana-emergente" *ngIf="mostrarVentanaEmergente">
                    <div class="contenido">
                        <h2>Ingrese los datos del producto</h2>
                        <br>
                        <form (ngSubmit)="guardarProducto()">
                            <label for="nombre">Nombre:</label>
                            <input type="text" id="nombre" name="nombre" [(ngModel)]="nombre"><br><br>
                            <label for="descripcion">Descripcion:</label>
                            <input type="text" id="descripcion" name="descripcion" [(ngModel)]="descripcion"><br><br>
                            <label for="precio">Precio:</label>
                            <input type="number" id="precio" name="precio" [(ngModel)]="precio_unitario"><br><br>
                            <label for="stock">Stock:</label>
                            <input type="number" id="stock" name="stock" [(ngModel)]="stock"><br><br>
                            <button type="submit">Guardar</button>
                            <button type="button" (click)="cerrarVentana()">Cancelar</button>
                        </form>
                    </div>
                </div>
                
                <div class="export__file">
                    <label for="export-file" class="export__file-btn" title="Export File" ></label>
                    <input type="checkbox" id="export-file" >
                    <div class="export__file-options">
                        <label>Filtrer &nbsp; &#10140;</label>
                        
                        <div class="filtro">
                           <button class="filtro-btn" >Todas</button>
                           <button class="filtro-btn" >On-Hold</button>
                           <button class="filtro-btn" >Processing</button>
                           <button class="filtro-btn" >Completed</button>
                           <button class="filtro-btn" >Cancelled</button>
                       </div>
                    </div>
                </div>
            </section>
            <section class="table__body">
                <table>
                    <thead>
                        <tr>
                            <!-- <th> Id <span class="icon-arrow">&UpArrow;</span></th> -->
                            <th> Producto <span></span></th>
                            <th> Descripcion <span></span></th>
                            <th> Precio Unitario <span></span></th>
                            <th> stock <span></span></th>
                        </tr>
                    </thead>
                    <tbody>
                       <tr  *ngFor="let prod of citasFiltradas" >
                        <td>{{ prod.nombre }}</td>
                        <td>{{ prod.descripcion }}</td>
                        <td>{{ prod.precio_unitario }}</td>
                        <td>{{ prod.stock }}</td>
                       </tr>
                       
                    </tbody>
                </table>
            </section>
        </main>
        
    </body>
    </html>