body {
  background-color: #000;
  color: #fff;
  font-family: 'Nunito', sans-serif;
  margin: 0;
  height: 100vh;
  display: grid;
  place-items: center;
}

nav {
  margin: 0 auto;
  position: relative;
  width: 590px;
  height: 50px;
  background-color: #10182f;
  border-radius: 8px;
  font-size: 0;
}

nav a {
  line-height: 50px;
  height: 100%;
  font-size: 10px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;
}

nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all .5s ease 0s;
  border-radius: 8px;
}

a:nth-child(1) {
  width: 100px;
}

a:nth-child(2) {
  width: 110px;
}

a:nth-child(3) {
  width: 100px;
}

a:nth-child(4) {
  width: 160px;
}

a:nth-child(5) {
  width: 120px;
}

nav .start-home,
a:nth-child(1):hover~.animation {
  width: 100px;
  left: 0;
  background-color: #1abc9c;
}

nav .start-about,
a:nth-child(2):hover~.animation {
  width: 110px;
  left: 100px;
  background-color: #e74c3c;
}

nav .start-blog,
a:nth-child(3):hover~.animation {
  width: 100px;
  left: 210px;
  background-color: #3498db;
}

nav .start-portefolio,
a:nth-child(4):hover~.animation {
  width: 160px;
  left: 310px;
  background-color: #9b59b6;
}

nav .start-contact,
a:nth-child(5):hover~.animation {
  width: 120px;
  left: 470px;
  background-color: #e67e22;
}

.container {
  margin: 20px auto;
  margin-top: -100px;
  width: 80%;
}

h2 {
  color: #ffffff;
  text-align: center;
  margin-top: 30px;
  font-size: 24px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
}

.table th,
.table td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #757575;
  color: #ffffff;
}

.estado-confirmada {
  color: #5cb85c;
}

.estado-cancelada {
  color: #ff5c33;
}

.estado-en-espera {
  color: #ffd700;
}

.filtro {
  text-align: center;
  margin-bottom: 20px;
}

.filtro-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  margin-right: 5px;
}

.filtro-btn:hover {
  background-color: #0056b3;
}

.btn-accion-confirmar,
.btn-accion-rechazar {
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 0;
  font-size: 18px;
  cursor: pointer;
}
.btn-accion-completed {
  background-color: green; /* Color de fondo */
  color: white; /* Color del texto */
  border: none; /* Elimina el borde */
  padding: 10px 20px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor a mano */
  transition: background-color 0.3s; /* Efecto de transición */
}

/* Cambia el cursor a mano cuando pasas sobre el botón */
.btn-accion-completed:hover {
  cursor: pointer;
}

/* Cambia el color de fondo cuando pasas sobre el botón */
.btn-accion-completed:hover {
  background-color: darkgreen;
}
.btn-accion-confirmar:hover,
.btn-accion-rechazar:hover {
  text-shadow: 0 0 3px #fff;
}
.btn-accion-confirmar,
.btn-accion-rechazar {
    background-color: transparent; /* Fondo transparente */
    border: none; /* Sin borde */
    padding: 0; /* Sin espacio interno */
    cursor: pointer; /* Cambia el cursor a mano */
}

/* Estilos para la palomita verde */
.btn-accion-confirmar span {
    font-size: 20px; /* Tamaño de la palomita */
}

/* Estilos para la tachita roja */
.btn-accion-rechazar span {
    font-size: 20px; /* Tamaño de la tachita */
}