<!-- <!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Citas de Vehículos</title>
    <link rel="stylesheet" href="homepage.component.css">
</head>
<body>
  
  

  
  
    <div class="container" *ngIf="citasAutos.length > 0">
        <h2>Citas Pendientes</h2>
        <div class="filtro">
            <button class="filtro-btn" (click)="cambiarEstadoFiltro('all')">Todas</button>
            <button class="filtro-btn" (click)="cambiarEstadoFiltro('On-Hold')">On-Hold</button>
            <button class="filtro-btn" (click)="cambiarEstadoFiltro('Processing')">Processing</button>
            <button class="filtro-btn" (click)="cambiarEstadoFiltro('Completed')">Completed</button>
            <button class="filtro-btn" (click)="cambiarEstadoFiltro('Cancelled')">Cancelled</button>
          </div>
        <table class="table">
          
          
            <thead>
                <tr>
                    <th></th>
                  <th>USUARIO</th>
                  <th>FECHA</th>
                  <th>ESTADO</th>
                  <th>PLACAS</th>
                  <th>DESCRIPCION</th>
                
                </tr>
              </thead>
          
            <tbody>
                <tr *ngFor="let citaAuto of citasFiltradas" [attr.data-estado]="citaAuto.status">>
                    <td>{{ citaAuto.nombreUsuario }}</td>
                    <td>{{ citaAuto.fecha_hora | date:'yyyy-MM-dd' }}</td>
                    <td class="estado-cita">{{ citaAuto.status }}</td>
                    <td>{{ citaAuto.placa }}</td>
                    <td>{{ citaAuto.descripcion }}</td>
                    <td>
                        <div *ngIf="citaAuto.loading" class="spinner-border text-primary" role="status">
                            <span class="visually-hidden">Cargando...</span>
                        </div>
                        <ng-container *ngIf="citaAuto.status === 'On-Hold' && !citaAuto.loading">
                            <button class="btn-accion-confirmar" (click)="actualizarEstadoCita(citaAuto.auto_id, 'Processing')">
                                <span style="color: green;">&#10004;</span>
                            </button>
                            <button class="btn-accion-rechazar" (click)="actualizarEstadoCita(citaAuto.auto_id, 'Cancelled')">
                                <span style="color: red;">&#10008;</span>
                            </button>
                        </ng-container>
                        <div *ngIf="citaAuto.status === 'Processing' && !citaAuto.loading">
                            <button class="btn-accion-completed" (click)="actualizarEstadoCita(citaAuto.auto_id, 'Completed')">Completar</button>
                        </div>
                    </td>
                    
                </tr>
            </tbody>
        </table>
    </div>
  
</body>
</html> -->
